@use "../util/" as u;
$colorList: "cyan", "red", "orange", "blue";

.card-section {
   display: grid;
   align-items: center;
   gap: var(--spacing-lg-1);
   width: fit-content;

   margin-top: var(--spacing-lg-1);

   @include u.breakpoint("tablet") {
      grid-template-columns: repeat(2, 1fr);

      max-height: 40em;
   }

   @include u.breakpoint("desktop") {
      grid-template-columns: repeat(3, 1fr);
   }
}

.card {
   position: relative;

   display: flex;
   flex-direction: column;

   border-radius: 0.5rem;
   box-shadow: 0 4px 20px var(--color-shadow);

   max-width: 21rem;
   padding: var(--spacing-lg-1) var(--spacing-lg-1) var(--spacing-lg-2);

   background-color: var(--color-surface);

   overflow: hidden;

   &__description {
      margin-top: var(--spacing-sm);
      margin-bottom: var(--spacing-lg-1);
   }

   &__image {
      align-self: flex-end;
      width: 4rem;
   }

   &--cyan,
   &--red,
   &--orange,
   &--blue {
      @extend .card;

      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
      }
   }

   @include u.breakpoint("desktop") {
      &--cyan {
         grid-row: 1 / 3;
         grid-column: 1 / 2;
      }

      &--red {
         grid-row: 1 / 2;
         grid-column: 2 / 3;
      }

      &--orange {
         grid-row: 2 / 3;
         grid-column: 2 / 3;
      }

      &--blue {
         grid-row: 1 / 3;
         grid-column: 3 / 4;
      }
   }

   @each $color in $colorList {
      &--#{$color} {
         @extend .card;

         &::before {
            border-top: 0.3rem solid var(--#{$color});
         }
      }
   }
}
